<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row style="padding: 0;margin: 0;">
      <ion-col  size="6"  size-md="4" size-xl="6">        
        <img class="logo" src="../../assets/images/logo.png" alt="">
      </ion-col>
      <ion-col class="menu" size="6" size-md="8" size-xl="6"  >
        <ion-button class="btn" (click)="gotoPage('/')" expand="block" >
          Magis tv
        </ion-button>
        <ion-button class="btn" (click)="gotoPage('/paquetes')" color="dark"  expand="block" fill="clear" >

          Paquetes/Precios
        </ion-button>
        <ion-button (click)="gotoPage('/descargar')" class="btn" color="dark" expand="block" fill="clear" >
          Descargar
        </ion-button>
        <ion-button (click)="gotoPage('/distribuidores')" color="dark"  class="btn" expand="block" fill="clear" >
          Distribuidores
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-buttons class="side-menu"  slot="end">
      <ion-menu-button color="dark" ></ion-menu-button>
    </ion-buttons>
    

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <div class="home-content">
      <h1 class="white-text">¡Únese a nuestro programa de revendedores<br>
        ser parte de Magistv !</h1>
    </div>
    <a href="#mess_to"><button class="main-btn">Contacto</button></a>
      </div>
      <ion-grid class="grid1" fixed style="width: 100%;">
        <ion-row>
          <ion-col size="12" size-lg="6" size-xl="6">
            <div class="section-header">
          <h2 class=""> PLANES PARA REVENDEDORES</h2>
        </div>
        <p class="paragraph">
          * Revendedores con super panel,desde una minima cantidad de 100 creitidos.  
        </p>
        <p class="paragraph">
          * Revendedores con panel Admin,desde una minima cantidad de 1500 creitidos.
        </p>
        <p class="paragraph"> 
          * Sporte abrir demo 2 horas y 24 horas , dos elecciones a los usuarios
        </p>
        <p class="paragraph">* Nuestro objetivo principal es generar un vínculo de  
          compañerismo y solidaridad con nuestros revendedores  
          que perdure a lo largo de los años. 
        </p>
          </ion-col>

          <ion-col size="12" size-lg="6" size-xl="6">
            <div class="owl-item cloned" style="width: 100%; margin-right: 15px;padding: 30px;">
              <img class="img-responsive" src="../../assets/images/c5.png" alt="" style="border-radius: 10px;"></div>
          </ion-col>
        </ion-row>
      </ion-grid>

          <ion-grid class="image-cnt">
       
            <ion-row>
              <ion-col size="12" size-lg="6" size-xl="6" style="padding: 0;">
                <img class="img-responsive2" src="../../assets/images/c7.png" alt="">
              </ion-col>
              <ion-col class="grid2" size="12" size-lg="6" size-xl="6" >
                <div class="section-header text-center">
                  <h2 style="color: white;text-align: center;">Administracion de su tiempo <br> trabaja muy sencilla  </h2>
                </div>
                <div class="col-md-10 col-md-offset-1">
                  <p style="text-align:justify;color: white;line-height: 1.6;"> 
                  Una oportunidad de construir su propio negocio 
                  independiente ,Puede trabajar dónde quisiera y 
                  cuándo quisiera, relacionándosecon sus clientes 
                  desde la comodidad de tu hogar. Con una manea
                  muy sencilla y fácil , una vez que te conviertes en 
                  revendedor, comienzas a trabajar al instante.
                  </p>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
      
          <ion-grid fixed style="margin-top: 60px;">
            <ion-row>
              <ion-col size="12" size-lg="6" size-xl="6">
                <div class="section-header">
                  <h2 class="">Contacto</h2>
                </div>
                <p> Si tienes más dudas, envíenos por correo electrónico o visita 
                  el GRUPO DE INFORMACIÓN. Estamos a su disposición </p>
                
                <p><img src="../../assets/images/c9.png" style="max-height: 50px;margin-top: 30px;margin-bottom: 20px;"></p>
                
                <a style="color: #000;text-decoration: none;justify-content: flex-start;padding: 0;margin: 0;height: 50px;" target="_blank" href="mailto:magistvlatino@gmail.com "><p>Para problemas tecnicos: <span style="color: #4b8bff;">magistvlatino@gmail.com</span></p></a>
                <a style="color: #000;text-decoration: none;justify-content: flex-start;padding: 0;margin: 0;height: 50px" target="_blank" href="mailto:magistvlatino@gmail.com"><p>para asuntos comerciales: <span style="color: #4b8bff;">magistvlatino@gmail.com</span></p></a>
             
              </ion-col>
              <ion-col size="12" size-lg="6" size-xl="6">
                <img class="img-responsive" src="../../assets/images/c32.png" alt="" style="border-radius: 10px;">

              </ion-col>
            </ion-row>
          </ion-grid>
        
        <div style="background-color: black;margin-top: 30px;">
  
          <div class="col-md-12" style="border-top: 1px solid #666;height:90px">
            <!-- footer copyright -->
            <div class="footer-copyright" style="color: #fff;margin-top: 20px;">
              <p style="text-align: center;font-size: 16x;">Copyright©️ 2019 All Rights Reserved</p>
            </div>
            <!-- /footer copyright -->
          </div>
        
         </div>

            

</ion-content>
