<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row style="padding: 0;margin: 0;">
      <ion-col  size="6"  size-md="4" size-xl="6">        
        <img class="logo" src="../../assets/images/logo.png" alt="">
      </ion-col>
      <ion-col class="menu" size="6" size-md="8" size-xl="6"  >
        <ion-button class="btn" (click)="gotoPage('/')" expand="block" >
          Magis tv
        </ion-button>
        <ion-button class="btn" (click)="gotoPage('/paquetes')" color="dark"  expand="block" fill="clear" >

          Paquetes/Precios
        </ion-button>
        <ion-button (click)="gotoPage('/descargar')" class="btn" color="dark" expand="block" fill="clear" >
          Descargar
        </ion-button>
        <ion-button (click)="gotoPage('/distribuidores')" color="dark"  class="btn" expand="block" fill="clear" >
          Distribuidores
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-buttons class="side-menu"  slot="end">
      <ion-menu-button color="dark" ></ion-menu-button>
    </ion-buttons>
    

  </ion-toolbar>
</ion-header>
<ion-content>
        <div class="header">
          <ion-grid fixed >
            <ion-row style="padding: 5%;" >
              <ion-col size="12">
                  <h1 class="white-text">¡Prueba nuestro servicio gratis por un día!</h1>                
              </ion-col>
              <ion-col size="12" style="padding: 8% 15% 0% 15%">
                <a target="_self" href="http://magistvchile.xyz/app/tvbox.apk" id="value1"><img class="download" style="float: left;max-width: 35%;" src="../../assets/images/c12.png"></a>
                <a target="_self" href="http://magistvchile.xyz/app/movil.apk" id="value1"><img class="download2" style="float: right;max-width: 35%;" src="../../assets/images/c13.png"></a>
              </ion-col>
            </ion-row >
          </ion-grid>
          <div >

         
          </div>
        </div>
        <div class="section-header text-center">
					<h2 class="title">Proceso de Instalación</h2>
        </div>
        <ion-grid fixed style="width: 100%;margin-bottom: 30px;">
          <ion-row >
            <ion-col  style="padding: 10px 15px;" size="12" size-lg="4" size-xl="4">
              <div class="about">
                <div class="blog-img">
                  <img  style="margin: auto;display: block;max-height: 150px;" class="img-responsive" src="../../assets/images/c14.png" alt="">
                </div>
                <div class="blog-content">
                  <h3 class="text-center" class="font">1.Descarga e instala</h3>
                  <p>Descarga la APK de Magistv 
                    directamente a tu Celular Android
                     o bien a una memoria USB para 
                    instalarla en una TV box Android.
                    <br><br><br><br><br>
                  </p>
                </div>
              </div>
            </ion-col>
            <ion-col style="padding: 10px 15px;" size="12" size-lg="4" size-xl="4">
              <div class="about">
                <div class="blog-img">
                  <img style="margin: auto;display: block;max-height: 150px;" class="img-responsive" src="../../assets/images/c15.png" alt="">
                </div>
                <div class="blog-content">
                  <h3 class="text-center" class="font">2. Inicia sesión</h3>
                  <p>Cuando termine realizar al pago ，
                    utiliza el usuario y la contraseña . 
                    Inicia sesión en tu Celular o TV box 
                    Android para activar el servicio. 
                    <br><br><br><br><br>
                  </p>
                </div>
              </div>
            </ion-col>
            <ion-col style="padding: 10px 15px;" size="12" size-lg="4" size-xl="4">
              <div class="about">
                <div class="blog-img">
                  <img style="margin: auto;display: block;max-height: 150px;" class="img-responsive" src="../../assets/images/c16.png" alt="">
                </div>
                <div class="blog-content">
                  <h3 class="text-center" class="font">3. Dispositivos eligidos</h3>
                  <p>*  3 dispositivos android tv box <br>
                    *  2 dispositivos android tv box + 1 celular<br>
                    *  3 celulares , o tablets Android .<br><br>  
                    <b style="font-weight: 700;">Nota</b> : Dispositivos incluyen android celular,
                    tablets android, android tv box, android tv,
                    smart tv android, etc
                  </p>
    
                </div>
              </div>
            </ion-col>

          </ion-row>
        </ion-grid>
       
        <div id="features" class="section md-padding contact-item" style="background: url(../../assets/images/c18.png) no-repeat center center; background-size:cover;padding:200px 0;">
          <!-- Container -->
          <div class="container">

            <!-- Row -->
            <ion-grid fixed>
              <ion-row>
                <ion-col class="texto" size="12" size-lg="11" size-xl="11" style="offset: -1;">
                  <p style="font-size: 20px; color: white;"> 
                    MagisTV conexión válida para tres dispositivos de forma simultánea , e  exclusivos  para dispositivos en  Android 
                    más de 5.1 y superior ( Android TV Box,Android Tv, etc...)  
                    <br>
                    </p>
                    <p style="font-size: 20px;color: white"> 
                    Para utilizar el servicio de manera optima se necesita
                     una conexión de Internet estable, con una velocidad 
                    de 2 MB internacional como mínimo. (Notas : Algunos 
                    canales de FHD y vod de 4K necesita un buen internet 
                    estable y un dispositivo con alta configuración, muchas
                    gracias por entender. )
                    </p>
                </ion-col>
                
              </ion-row>
            </ion-grid>
            <div class="row">
              <!-- /About slider -->
              <div  class="col-md-10 col-md-offset-1 texto">
               
              </div>
              <!-- /why choose us content -->
            </div>
            <!-- /Row -->
          </div>
          <!-- /Container -->
        </div>
        <div id="features" class="section md-padding contact-item" style="background: url(../../assets/images/c19.png) no-repeat center center; background-size: 100% 101%;padding: 140px 0;">
          <!-- Container -->
          <div class="container1">
            <!-- Row -->
            <ion-grid fixed>
              <ion-row>
                <ion-col class="texto" size="12" size-lg="6" size-xl="6" style="offset: -1;">
                  <h1 style="color: #fff;">Magistv para TV box</h1>
                  <p style="font-size: 20px;padding-right: 30px;max-width: 626px;color: white;text-align: left;"> 
                    La nueva versión permite acceder a la plataforma desde 
                    hasta tres dispositivos distintos al mismo tiempo. Magistv
                    brindará un servicio más estable y de calidad,brindándole 
                    a usted y su familia una plataforma más avanzada para 
                    una experiencia visual.
                    </p>
                </ion-col>
                <ion-col size="12" size-lg="6" size-xl="6" style="border-left: 5px solid #342b30;padding: 0 45px 0 0;">
                  <img class="img-responsive1" src="../../assets/images/c20.png" alt="">
                </ion-col>
                
              </ion-row>
            </ion-grid>
            <!-- /Row -->
          </div>
          <!-- /Container -->
        </div>
        <div id="features" class="section md-padding contact-item" style="background: url(../../assets/images/c21.png) no-repeat center center; background-size: 100% 100%;padding: 140px 0;">
          <!-- Container -->
          <div class="container1">
            <!-- Row -->
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" size-lg="6" size-xl="6" style="border-right: 5px solid #2d2725;">
                  
                <img class="img-responsive2" src="../../assets/images/c22.png" alt="">
                </ion-col>
                <ion-col size="12" size-lg="6" size-xl="6"  >
                  <h1 style="color: #fff;margin-top: 20px;">Magistv para Celular</h1>
                <p style="font-size: 20px;max-width: 626px;color: white;text-align: left;"> 
                Nuestro objetivo es brindar la mejor experiencia a nuestros
                 usuarios. Es por eso que ahora puedes descargar magistv
                 Mobile y mirar todo tu contenido cuando quieras y donde 
                quieras a través de tu celular.
                </p>
                </ion-col>
              </ion-row>
            </ion-grid>
            <!-- /Row -->
          </div>
          <!-- /Container -->
        </div>
        <div id="footer" class="bg-dark" style="overflow: hidden;">
		
          <div style="border-bottom: 1px solid #666;
                  width: 100%;
                  padding-bottom: 20px;
                  overflow: hidden;
                  margin-top: 60px;"> 
            
              
            <!-- Container -->
            <div class="container">
            <!-- Row -->
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12"  style="display: flex;flex-direction: column;justify-content: center;align-items: center;align-content: center;">
                  <h2 class="text-center" style="color: #fff;font-size: 25px;">* TÉRMINOS DE PRUEBA GRATIS : </h2>
              <p style="color: #fff;font-size: 20px;padding: 15px;">
                Para disfrutar de un días de servicio gratuito, debe seguir con las siguientes condiciones:<br>
                1) Eres un nuevo usuario.<br>
                2) Instale la aplicación MagisTv en el dispositivo<br>
                * Recuerde que ya no podrá utilizar esta oferta si inicia sesión en un dispositivo que ya <br>
                tiene una versión de prueba gratis<br>
              </p>
                </ion-col>
              </ion-row>
            </ion-grid>	
            </div>	
            
          </div>
      
          <!-- Container -->
          <div class="container" style="display: none;">
      
            <!-- Row -->
            <div class="row">
              <div class="col-md-10 col-md-offset-1" id="footer-message">
              </div>	
            </div>
            <!-- /Row -->
      
          </div>
          <!-- /Container -->
          
          <!-- /footer follow -->
          <div class="col-md-12" style="border-top: 1px solid #666;display: none;">
            <!-- footer copyright -->
            <div class="footer-copyright" style="color: #fff;margin-top: 20px;">
              <p>Copyright©️ 2019 All Rights Reserved</p>
            </div>
            <!-- /footer copyright -->
          </div>
      
        </div>
        <!-- <div id="back-to-top" style="display: block;"></div>       -->
        
        
        
</ion-content>
